@charset "UTF-8";
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0; }

body, textarea, input {
  font-family: "Source Sans Pro", sans-serif; }

select {
  width: 100px; }

.font_header {
  color: #222222;
  font-weight: bold; }

.font_sub-header {
  margin: 0;
  color: #898989; }

.page {
  width: 100%;
  height: 100vh; }
  .page_color_y {
    background: #fcdb00; }
  .page_color_w {
    background: #ffffff; }
  .page__button {
    color: #222222;
    border: 2px solid #222222;
    font-weight: bold;
    text-align: center; }
  .page__text-input {
    border: 2px solid #222222;
    padding-left: 10px;
    margin-bottom: 15px; }
  .page__select {
    border: 2px solid #222222;
    margin-bottom: 15px; }
  .page__checkbox {
    margin-bottom: 15px;
    border: 2px solid #222222; }
  .page__warn-label {
    margin: 0;
    color: #df4242;
    font-size: 10px; }
  .page-content {
    width: 1200px;
    margin: 0 auto;
    height: 100vh; }
    .page-content__head {
      margin: 0 auto;
      margin-top: 30px;
      margin-bottom: 30px; }
    .page-content__header {
      font-size: 32px;
      text-align: center;
      margin-bottom: 20px; }
    .page-content__sub-header {
      font-size: 20px;
      width: 775px;
      text-align: center; }
    .page-content_position_column {
      display: flex;
      flex-direction: column; }
    .page-content_interval_space_between {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }

/* First page */
.first-page-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px; }
  .first-page-head__menu {
    width: 120px; }
  .first-page-head__logo {
    display: flex;
    align-items: center; }
  .first-page-head__logo-text {
    font-size: 30px;
    margin-left: 10px; }
  .first-page-head__social-conn {
    width: 120px;
    display: flex;
    justify-content: space-between; }

.first-page-mid-content {
  width: 600px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto; }

.first-page__header {
  font-size: 48px;
  margin-bottom: 15px;
  text-align: center; }

.first-page__sub-header {
  font-size: 20px;
  color: #222222;
  width: 460px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px; }

.first-page__button {
  background-color: #fcdb00;
  width: 252px;
  height: 52px;
  font-size: 22px; }

.first-page__arrow {
  height: 85px;
  margin: auto;
  width: max-content; }

/* Features */
.features-grid {
  margin-top: auto;
  margin-bottom: auto;
  height: 500px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */ }
  .features-grid-row {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between; }
  .features-grid-feature {
    height: 100%;
    width: 300px;
    display: flex; }
  .features-grid-feature__img {
    width: 60px;
    display: flex;
    align-self: flex-start;
    justify-content: center; }
  .features-grid-feature__text {
    margin-left: 30px;
    width: 200px; }
  .features-grid-feature__header {
    font-size: 22px;
    margin: 0;
    margin-bottom: 10px; }
  .features-grid-feature__sub-header {
    font-size: 16px;
    width: 220px;
    margin: 0; }

.pricing-grid {
  margin: 0 auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 700px;
  display: flex; }
  .pricing-grid-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.4%; }
  .pricing-grid__button {
    background: white;
    width: 135px;
    height: 45px;
    font-size: 14px; }
  .pricing-grid-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin-bottom: 10px;
    background: #fcdb00; }
    .pricing-grid-circle_color_grey {
      background: #ebebeb; }
    .pricing-grid-circle_color_black {
      background: black; }
  .pricing-grid-details {
    margin-bottom: 20px; }
    .pricing-grid-details__header {
      margin: 0;
      font-size: 24px;
      color: #010101;
      font-weight: bold;
      text-align: center;
      margin-bottom: 20px; }
    .pricing-grid-details__sub-header {
      margin: 0;
      font-size: 14px;
      color: #898989;
      text-align: center; }
  .pricing-grid-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; }
    .pricing-grid-price__header {
      font-size: 32px;
      color: #010101;
      font-weight: bold;
      margin-bottom: 5px; }
    .pricing-grid-price__line {
      margin-bottom: 7px;
      height: 2px;
      width: 40px;
      background-color: #222222;
      background: #222222; }
    .pricing-grid-price__sub-header {
      margin-top: 0;
      font-size: 16px;
      color: #898989;
      text-align: center; }

.contacts {
  margin: 0 auto;
  width: 600px;
  display: flex;
  flex-direction: column; }
  .contacts-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px; }
    .contacts-list__contact {
      width: 33.4%;
      display: flex;
      flex-direction: column;
      align-items: center; }
    .contacts-list__image {
      margin-bottom: 15px; }
    .contacts-list__header {
      margin: 0;
      font-size: 24px; }
    .contacts-list__sub-header {
      margin: 0;
      text-align: center;
      width: 200px;
      font-size: 14px; }
  .contacts-form {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 400px; }
    .contacts-form__field {
      width: 100%; }
    .contacts-form__button {
      margin: 0 auto;
      background: #222222 !important;
      color: #ffffff !important;
      margin-bottom: 15px; }
      .contacts-form__button_send {
        height: 40px;
        width: 130px;
        font-size: 12px;
        display: none; }
      .contacts-form__button_add {
        height: 40px;
        width: 40px;
        font-size: 30px; }
    .contacts-form__checkbox {
      margin: auto;
      margin-bottom: 15px;
      font-size: 14px; }
      .contacts-form__checkbox input[type="checkbox"] {
        display: none; }
      .contacts-form__checkbox label {
        display: flex; }
      .contacts-form__checkbox label::before {
        content: "";
        height: 16px;
        width: 16px;
        border: 2px solid #222222;
        margin-right: 5px; }
      .contacts-form__checkbox input[type="checkbox"]:checked + label::before {
        height: 16px;
        width: 16px;
        background: #222222;
        outline: 3px solid #ffffff;
        outline-offset: -5px;
        content: ""; }
    .contacts-form__required-field-label {
      margin-bottom: 5px;
      margin-right: 5px;
      display: inline-block; }
    .contacts-form__characters-warning-label {
      margin-bottom: 5px;
      display: inline-block; }
    .contacts-form__text-input {
      height: 30px;
      width: 100%; }
    .contacts-form__textarea {
      height: 90px;
      width: 100%;
      padding-top: 10px; }

.popup-window {
  height: 300px;
  width: 500px;
  transition: 0.5s;
  opacity: 1;
  background: #ffffff;
  border: 2px solid #222222;
  position: fixed;
  top: 25%;
  left: 31%; }
  .popup-window__head {
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 50px; }
  .popup-window__header {
    text-align: center;
    font-size: 40px;
    margin: 0 auto;
    margin-bottom: 50px; }
  .popup-window__cross {
    font-size: 20px;
    margin-top: 5px;
    margin-right: 10px;
    font-weight: bold; }
  .popup-window__body {
    display: flex; }
    .popup-window__body_direction_column {
      align-items: center;
      flex-direction: column; }
  .popup-window__button {
    background: #222222 !important;
    color: #ffffff !important;
    width: 135px;
    height: 45px;
    font-size: 14px; }

.select-field-window {
  display: none; }
  .select-field-window__type-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.4%; }

.create-field-window {
  display: none; }
  .create-field-window__input {
    height: 30px;
    width: 150px; }
    .create-field-window__input_type_number {
      width: 40px !important; }
  .create-field-window__select {
    width: 170px; }
  .create-field-window__fields {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly; }
  .create-field-window__header {
    margin-bottom: 20px; }

@keyframes animateleft {
  from {
    left: -500px;
    opacity: 0; }
  to {
    left: 31%;
    opacity: 1; } }

@keyframes animateright {
  from {
    left: 31%;
    opacity: 1; }
  to {
    left: 100%;
    opacity: 0; } }

.mark {
  display: flex;
  text-align: center; }
  .mark:before {
    content: '❝';
    margin-top: -15px; }
  .mark:after {
    content: '❞';
    align-self: flex-end;
    margin-bottom: 15px; }
  .mark:before, .mark:after {
    font-size: 40px;
    color: #898989;
    font-family: "FontAwesome";
    width: 22px;
    height: 22px; }
  .mark__text {
    height: 80px;
    display: flex; }

.quote {
  margin: auto;
  margin-top: 200px;
  height: 200px;
  width: 450px;
  display: flex;
  align-items: center; }

.display_block {
  display: block;
  animation-name: animateleft;
  animation-duration: 0.4s; }

.display_none {
  animation: animateright;
  animation-duration: 0.4s; }

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  transition: 0.2s; }

.menu {
  margin: 0;
  padding: 0;
  position: absolute;
  display: flex; }

.showMenu {
  display: block !important; }
