body{
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.page{
  width: 100%;
  height: 100vh;
  &_color_y{
    background: #fcdb00;
  }
  &_color_w{
    background: white;
  }

  &-content{
    width: 1200px;
    margin: 0 auto;
    height: 100vh;
  
    &_position_column{
      display: flex;
      flex-direction: column;
    }
    &_interval_space_between{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

/* First page */
.first-page-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;

  &__menu{
    width: 120px;
  }

  &__logo{
    display: flex;
    align-items: center;
  }

  &__logo-text{
    font-family: "Source Sans Pro", sans-serif; 
    font-size: 30px;
    font-weight: bold;
    color: rgb(34, 34, 34);
    margin-left: 10px;
  }

  &__social-conn{
    width: 120px;
    display: flex;
    justify-content: space-between;
  }
}

.first-page{
  &-mid-content{
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  &__header{
    font-size: 48px;
    font-family: "SourceSansPro", sans-serif;
    color: rgb(34, 34, 34);
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
  }
  &__sub-header{
    font-size: 20px;
    font-family: "SourceSansPro";
    color: rgb(34, 34, 34);
    width: 460px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
  }
  &__button{
    background-color: #fcdb00;
    width: 252px;
    height: 52px;
    border: 2px solid rgb(34, 34, 34);
    font-size: 22px;
    font-family: "SourceSansPro", sans-serif;
    color: rgb(34, 34, 34);
    font-weight: bold;
  }
  &__arrow{
    height: 85px;
    margin: auto;
    width: max-content;
  }
}

/* Features */
.features-head{
margin: 0 auto;
margin-top: 50px;
margin-bottom: 50px;

  &__header{
    font-size: 32px;
    font-family: "SourceSansPro", sans-serif;
    color: rgb(1, 1, 1);
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  &__sub-header{
    font-size: 20px;
    font-family: "SourceSansPro", sans-serif;
    color: rgb(137, 137, 137);
    width: 775px;
    text-align: center;
  }
}


.features-grid{
  margin-top: auto;
  margin-bottom: auto;
  height: 500px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
    &-row{
      height: 50%;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    &-feature{
      height: 100%;
      width: 300px;
      display: flex;
    }
    &-feature__img{
      width: 60px;
      display: flex;
      align-self: flex-start;
      justify-content: center;
    }
    &-feature__text{
      margin-left: 30px;
      width: 200px;
    }
    &-feature__header{
      font-size: 22px;
      font-family: "SourceSansPro", sans-serif;
      color: rgb(1, 1, 1);
      font-weight: bold;
      margin: 0;
      margin-bottom: 10px;
    }
    &-feature__sub-header{
      font-size: 16px;
      font-family: "SourceSansPro", sans-serif;
      color: rgb(137, 137, 137);
      width: 220px;
      margin: 0;
    }
}

.pricing-head{
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 10px;
  
    &__header{
      font-size: 32px;
      font-family: "SourceSansPro", sans-serif;
      color: rgb(1, 1, 1);
      font-weight: bold;
      text-align: center;
      margin-bottom: 20px;
    }
    &__sub-header{
      font-size: 20px;
      font-family: "SourceSansPro", sans-serif;
      color: rgb(137, 137, 137);
      width: 775px;
      text-align: center;
      margin-bottom: 0;
    }
  }

.pricing-grid{
  margin: 0 auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 700px;
  display: flex;
  &-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.4%;
  }
  &__button{
    background: white;
    width: 135px;
    height: 45px;
    border: 2px black solid;

    font-size: 14px;
    font-family: "SourceSansPro", sans-serif;
    color: rgb(1, 1, 1);
    font-weight: bold;
    text-align: center;
    
  }
  &-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin-bottom: 10px;
    &_color{
      &_grey{
        background: #ebebeb;
      }
      &_black{
        background: black;
      }
    }
    background: #fcdb00;
  }
  &-details{
    margin-bottom: 20px;
    &__header{
      margin: 0;
      font-size: 24px;
      font-family: "SourceSansPro", sans-serif;
      color: rgb(1, 1, 1);
      font-weight: bold;
      text-align: center;
      margin-bottom: 20px;
    }
    &__sub-header{
      margin: 0;
      font-size: 14px;
      font-family: "SourceSansPro", sans-serif;
      color: rgb(137, 137, 137);
      text-align: center;
    } 

  }
  &-price{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    &__header{
      font-size: 32px;
      font-family: "SourceSansPro", sans-serif;
      color: rgb(1, 1, 1);
      font-weight: bold;
      text-align: center;
      margin-bottom: 5px;
    }
    &__line{
      margin-bottom: 7px;
    }
    &__sub-header{
      margin-top: 0;
      font-size: 16px;
      font-family: "SourceSansPro", sans-serif;
      color: rgb(137, 137, 137);
      text-align: center;
      
    }
  }
}