body{
  background: #fcdb00;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.content{
  width: 1200px;
  margin: auto;
}

.head{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu{
  width: 120px;
}

.logo{
  height: 15vh;
  display: flex;
  align-items: center;
  align-self: 
  
  /* align-items: center; */

}
.logo_text{
  font-family: "Source Sans Pro", sans-serif; 
  font-size: 30px;
  font-weight: bold;
  color: rgb(34, 34, 34);
  margin-left: 10px;
  
}

.icons{
  width: 120px;
  display: flex;
  justify-content: space-between;
}

.center{
  width: 600px;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.header{
  font-size: 48px;
  font-family: "SourceSansPro", sans-serif;
  color: rgb(34, 34, 34);
  font-weight: bold;
  margin-bottom: 15px;
}


.sub_header{
  font-size: 20px;
  font-family: "SourceSansPro";
  color: rgb(34, 34, 34);
  width: 460px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;

}

.start_button{
  background-color: #fcdb00;
  width: 252px;
  height: 52px;
  border: 2px solid rgb(34, 34, 34);
  font-size: 22px;
  font-family: "SourceSansPro", sans-serif;
  color: rgb(34, 34, 34);
  font-weight: bold;
}

.arrow{
  margin: auto;
  width: max-content;
}

