body{
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: rgb(237, 238, 240) !important;
  overflow: scroll;
}


.container{
  position: absolute;
  top:50%;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}