.button-toolbar {
  display: flex;
  align-items: center;

  &__like-button {
    font-size: 2.5em;
    color: #ffffff;
    -webkit-text-stroke: 1px #007bff;
    margin-right: 10px;
    cursor: pointer;

    &::selection {
      background: transparent;
    }

    &:hover {
      color: rgba(18, 105, 160, 0.11);
    }

    &_state_pressed {
      color: #ff4220 !important;
      -webkit-text-stroke: 1px #ff4220 !important;

      &:hover {
        color: #ff4220;
      }
    }
  }

  &__not-like-button {
    height: 30px;
  }
}
