body{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.head{
    display: flex;
    justify-content: center;
    background: #ff8b8b;
    color: rgb(255, 255, 255);
}