.bg-red{
    background-color: #ff4b55;
}
.head{
    display: flex;
    margin-bottom: 30px;
    &__brand{
        //align-self: flex-start !important;
    }
    &__form{
        margin-left: auto;
        margin-right: auto;
    }
}