@import './BoxShadow.scss';

.content{
  width: 800px;
  margin: auto;

  &__news{
      padding: 15px 20px 70px 20px;
      background-color: rgb(255, 255, 255);
      margin: 5px;
      @include box-shadow(0 0 8px rgba(172, 172, 172, 0.5));
      
      &:hover{
          @include box-shadow(0 0 15px rgba(80, 154, 167, 0.5));
      }
  }
}
