body{
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body,textarea,input  {
  font-family: "Source Sans Pro", sans-serif;
}

.font{
  &_header{
    color: rgb(34, 34, 34);
    font-weight: bold;
  }
  &_sub-header{
    margin: 0;
    color: rgb(137, 137, 137);
  }
}

.page{
  width: 100%;
  height: 100vh;
  &_color_y{
    background: #fcdb00; 
  }
  &_color_w{
    background: #ffffff;
  }
  &__button{
    color: rgb(34, 34, 34);
    border: 2px solid rgb(34, 34, 34);
    font-weight: bold;
    text-align: center;
  }
  &__text-input{
    border: 2px solid rgb(34, 34, 34);
    padding: 0 15px;
    margin-bottom: 15px;
  }

  &-content{
    width: 1200px;
    margin: 0 auto;
    height: 100vh;

    &__head{
      margin: 0 auto;
      margin-top: 30px;
      margin-bottom: 30px;
    }

    &__header{
      font-size: 32px;
      text-align: center;
      margin-bottom: 20px;
    }
    &__sub-header{
      font-size: 20px;
      width: 775px;
      text-align: center;
    }
    &_position_column{
      display: flex;
      flex-direction: column;
    }
    &_interval_space_between{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    
  }
}

/* First page */
.first-page-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;

  &__menu{
    width: 120px;
  }
  &__logo{
    display: flex;
    align-items: center;
  }
  &__logo-text{
    font-size: 30px;
    margin-left: 10px;
  }
  &__social-conn{
    width: 120px;
    display: flex;
    justify-content: space-between;
  }
}

.first-page{
  &-mid-content{
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  &__header{
    font-size: 48px;
    margin-bottom: 15px;
    text-align: center;
  }
  &__sub-header{
    font-size: 20px;
    color: rgb(34, 34, 34);//На первой странице подзаголовок тоже чёрный
    width: 460px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
  }
  &__button{
    background-color: #fcdb00;
    width: 252px;
    height: 52px;
    font-size: 22px;
  }
  &__arrow{
    height: 85px;
    margin: auto;
    width: max-content;
  }
}

/* Features */
.features-grid{
  margin-top: auto;
  margin-bottom: auto;
  height: 500px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
    &-row{
      height: 50%;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    &-feature{
      height: 100%;
      width: 300px;
      display: flex;
    }
    &-feature__img{
      width: 60px;
      display: flex;
      align-self: flex-start;
      justify-content: center;
    }
    &-feature__text{
      margin-left: 30px;
      width: 200px;
    }
    &-feature__header{
      font-size: 22px;
      margin: 0;
      margin-bottom: 10px;
    }
    &-feature__sub-header{
      font-size: 16px;
      width: 220px;
      margin: 0;
    }
}

//Pricings
.pricing-grid{
  margin: 0 auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 700px;
  display: flex;
  &-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.4%;
  }
  &__button{
    background: white;
    width: 135px;
    height: 45px;
    font-size: 14px;
    
    
  }
  &-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin-bottom: 10px;
    &_color{
      &_grey{
        background: #ebebeb;
      }
      &_black{
        background: black;
      }
    }
    background: #fcdb00;
  }
  &-details{
    margin-bottom: 20px;
    &__header{
      margin: 0;
      font-size: 24px;
      color: rgb(1, 1, 1);
      font-weight: bold;
      text-align: center;
      margin-bottom: 20px;
    }
    &__sub-header{
      margin: 0;
      font-size: 14px;
      color: rgb(137, 137, 137);
      text-align: center;
    } 
  }
  &-price{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    &__header{
      font-size: 32px;
      color: rgb(1, 1, 1);
      font-weight: bold;
      margin-bottom: 5px;
    }
    &__line{
      margin-bottom: 7px;
      height: 2px;
      width: 40px;
      background-color: #222222;
      background: #222222;
    }
    &__sub-header{
      margin-top: 0;
      font-size: 16px;
      color: rgb(137, 137, 137);
      text-align: center;
      
    }
  }
}

//Contacts
.contacts{
  margin: 0 auto;
  width: 600px;
  display: flex;
  flex-direction: column;

  &_list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    &__contact{
      width: 33.4%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__image{
      margin-bottom: 15px;
    }
    &__header{
      margin: 0;
      font-size: 24px;

    }
    &__sub-header{
      margin: 0;
      text-align: center;
      width: 200px;
      font-size: 14px;
    }
  }
  &_form{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 400px;

    &__email{
      height: 35px;
    }
    &__fullname{
      height: 35px;
    }
    &__message{
      height: 140px;
      padding-top: 10px;
      font-size: 14px;
    }
    
    &__button{
      margin: 0 auto;
      height: 40px;
      width: 130px;
      margin-bottom: 15px;
      font-size: 12px;
      background: #222222 !important;
      color: #ffffff !important;
    }
  }
}

.mark{
  display: flex;
  text-align: center;
  &:before {
    content: '❝';
    margin-top: -15px;
   }
  &:after {
    content: '❞';
    align-self: flex-end;
    margin-bottom: 15px;
   }
   &:before, &:after{
    font-size: 40px;
    color: #898989;
    font-family: "FontAwesome";
    width: 22px;
    height: 22px;
  }
   &__text{
     height: 80px;
     display: flex;
   }
}
.quote{
  margin: auto;
  margin-top: 200px;
  height: 200px;
  width: 450px;
  display: flex;
  align-items: center;
}